*{
    background-color: rgb(148, 137, 244);
    font-family: Arial, Helvetica, sans-serif;
}


figure{
    margin: 0;
}

body header p{
    color: rgb(64, 2, 233);
    font-size: 20px;
}
figure img{
    
    width: 40px;
    height: 40px;
    position: absolute;
    left: 190px;
    top: 100px;
    border-radius: 10px;
    
    
}
.banana img{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 190px;
    top: 150px;
}

.pollo img{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 190px;
    top: 195px;
}


.carne img{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 190px;
    top: 240px;
}


.limon img{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 190px;
    top: 290px;
}


.zanahoria img{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 190px;
    top: 340px;
}

a{
    text-decoration: none;
    color: rgb(10, 41, 238);
}

main{
    color: rgb(225, 7, 7);
    
}

footer{
    
    color: rgb(53, 53, 225);
    font-size: 14px;
}